body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";}
input,a{outline:none;}
#search,#nav,#banner{
    margin: 0 auto;
}
#search{
    position: relative;
    display: flex;
    width: 1200px;
    height: 120px;
    .search-left{
        margin-top: 28px;
        margin-right: 210px;
    }
    .search-middle{
        margin-top: 28px;
        width: 500px;
        .search-middle-top{
            width: 500px!important;
            margin-bottom:5px;
            height:30px;
            border:2px solid #d917a2;
            a{
                background: #d917a2;
                display:inline-block;
                width:90px;
                height:30px;
                text-align: center;
                line-height: 30px;
                color: white;
                border:1px solid #d917a2;  
            }
        }
        .search-middle-bottom{
            font-size: 12px;
            a{
                margin-right:4px;
                &:nth-child(1){
                    color: #d917a2;
                }
                &:hover{
                    color: #d917a2;
                }
            }
        }
    }
}
.search-middle-top1{
                line-height:30px ;
                font-size: 14px;
                position: relative;
                width:62px;
                height:30px;
                float: left;
                text-align: center;
                border-right:1px solid #d917a2;
            }
.search-middle-select{
                    z-index: 1;
                    display: none;
                    top: 30px;
                    left: -2px;
                    position: absolute;
                    border:1px solid #d917a2;
                    border-top: none;
                    li{
                       width:62px;
                       height:30px!important; 
                       line-height:30px ;
                       text-align: center;
                       border: none;
                    }
                }
.search-middle-select li a{
                           width:62px!important;
                           display:none; 
                           color: black;
                           height:30px; 
                           background: #ffffff!important;
                           color:black!important;
                            &:hover{
                                background:#CECECE!important;
                            }
}

#shuchu{
        display: inline-block;
        float: left;
        width:341px;
        height:28px;
        padding-left:4px;
        border: none;
//      border:1px solid #d917a2;
}
//#search1{
//  
//              background: #d917a2;
//              display: block;
//              width:90px;
//              height:30px;
//              border:1px solid #d917a2;
//}
.search-right{
    display: flex;
    position: absolute;
    margin-top: 28px;
//  float: right;
    right: 0;
    width: 142px;
    height: 41px;
    p{
        font-size: 14px;
//      float: right;
        float: left;
        height: 40px;
        width:80px;
    }
    img{
      float: left;  
    }
}
.search-right a{
    position: relative;
   width: 142px;
   height: 41px; 
   display: block;
}
.search-right span{
    color: white;
    display: block;
    position:absolute;
    top: -20px;
    left: 15px;
    width: 20px;
    height: 20px;
    line-height:20px ;
    text-align: center;
    background: #CECECE;
}
#nav{
    $height:38px;
    width: 1200px;
    height:$height;
    border: 1px solid #cecece;
    .left{
        width: 182px;
        background: #d917a2;
        height:$height;
        font-size: 14px;
        padding-left: 18px;
        color:#000000;
        line-height:38px ;
        float: left;
    }
    .nav-list{
        li{
            width:100px;
            line-height:$height;
            font-size: 14px;
            color:#00001f;
            float: left;
            cursor: pointer;
            text-align:center;
            &:first-child{
                margin-left: 19px;
            }
            a{
                &:hover{
                    color:#d917a2;
                }
            }
        }
    }
    
}
#banner{
    display: flex;
    width:1200px;
    height:570px;
//  border: 1px solid black;
}
.banner-left{
        width:200px!important;
        height:570px!important;
        background: #d917a2;
        li{
            &:nth-child(1){
                position: relative;
                padding-top: 20px;
                padding: 10px 15px;
                width: 170px;
                height: 40px;
                p{
                    font-size: 14px;
                    a{
                        color: white;
                        font-weight: 700;
                    }
                }
                a{
                    font-size: 12px;
                    color: white;
                    margin-right: 10px;
                    &:hover{
                        color:#d958d6;
                    }
                }
                
            }
        }
    }
.banner-left .side{
    position: relative;
} 
a:hover{
    color:#d958d6!important;
}
.banner-left .side-1{
    background: #FFFFFF;
    z-index: 1;
    display: none;
    padding-left: 20px;
    padding-right: 20px;
    top: 0;
    position: absolute;
    width: 720px;
    height: 570px;
    border: 1px solid black;
    left:200px;
    div{
        width: 404px;
        p{
            height:26px;
            border-bottom: 1px dashed #ddd;
            padding-top: 20px;
            a{
                color: #333;
            }
        }
        a{
            display: inline-block;
            height:24px ;
            margin-right: 18px;
            line-height: 24px;
            color: #333;
            text-decoration: none;
            &:hover{
                        color:#d958d6;
                    }
        }
    }
}
.side-1-2{
    float: left;
}
.side-1-1{
    float: right;
    width: 260px!important;
    a{
        display: block;
//      margin: 20px;
        margin-bottom: 20px;
        width: 260px;
        height: 160px!important;
        img{
            width: 260px;
            height: 160px;
            border: none;
            vertical-align: middle;
        }
    }
}
.side-1-1 a:first-child{
    margin-top: 20px;
}
.side-2{
    float: left;
                padding-top: 20px;
                padding: 10px 15px;
                width: 170px;
                height: 40px;
                p{
                    font-size: 14px;
                    a{
                        color: white;
                        font-weight: 700;
                    }
                }
                a{
                    font-size: 12px;
                    color: white;
                    margin-right: 10px;
                    &:hover{
                        color:#d958d6;
                    }
                }
}
#box {
               width:760px;
                height: 400px;
                position:relative;
            }
            .content li{
                
                
                list-style: none;
                position:absolute;
            }
            .btn{
                color:white;
                background-color: #000000;
                opacity:.5;
                width:60px;
                height:90px;
                line-height:90px;
                text-align:center;
                font-size:40px;
                position:absolute;
                top:50%;
                margin-top:-45px;
                cursor: pointer;
                display: block;
            
            }
            .btn_left1{
                left:0px;
                
            }
            .btn_right1{
                right:0px;
            }
            .nums{
                position: absolute;
                left:230px;
                bottom: 13px;
                z-index: 1;
                height: 20px;
                overflow: hidden;
                text-align: center;
            }
            .num{
                display: inline-block;
                *float: left;
                margin-right: 10px;
                width: 30px;
                height: 5px;
                background: #000;
                opacity: .3;
                cursor: pointer;
            }
        .nums .bg{
                      background-color: red;
                  }
              
.banner-middle-bottom{
    margin-top: 10px;
    margin-left: 10px;
    a{
        margin-right: 15px;
        float: left;
    }
}
.banner-middle-bottom a:last-child{
    margin-right:0;
}
.banner-right-bottom{
//  position: relative;
    padding-top: 30px;
    width: 228px;
    height: 270px;
    padding-left: 12px;
    overflow: hidden;
    p{
        width: 228px;
        height: 37px;
    }
    a{
        margin-bottom: 12px;
        display: block;
        width: 215px;
        height: 60px;
        display: flex;
        span{
            display: inline-block;
            width: 60px;
            height: 60px;
            float: right;
            line-height: 60px;
            background: #d917a2;
            text-align: center;
            font-size: 18px;
            color: #fff;
        }
    }
}
////////////////////////////////////////精彩圈子
#jingcai{
    width: 1200px;
    height: 337px;
    margin: 18px auto 0;
//  border:1px solid red;
    h2{
        height: 42px;
        line-height: 42px;
        font-size: 24px;
    }
    ul{
//      float: left;
        padding-top: 28px;
        height: 267px;
        border: 1px solid #CECECE;
        li{
            margin-left: 20px;
            width: 275px;
        }
    }
}
#jingcai ul li{
    float: left;
}
.jingcai-middle{
    width: 275px;
    height: 22px;
    padding-top: 10px;
    span{
        display: inline-block;
        width: 38px;
        background: #f97142;
        font-size: 14px;
        text-align: center;
        margin-right: 5px;
    }
    a{
        display: inline-block;
        color: #000000;
    }
}
.jingcai-bottom{
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    span{
        margin-right: 10px;
        color: #f97142;
    }
}
////////////////////////////////////////////////////品牌
#pinpai{
    
    margin: 0 auto;
    padding-top:30px;
    width: 1200px;
    height: 597px;
    margin-bottom: 30px;
}
.pinpai-left{
    float: left;
    width:390px;
    p{
        font-size: 20px;
        color: #fff;
        width: 382px;
        padding-left: 10px;
        height: 38px;
        line-height:38px;
        background: #d917a2;
    }
    ul{
        width: 390px;
        height: 555px;
        border: 1px solid #CECECE;
        a{
            display: inline-block;
            float: left;
            width: 194px;
            height: 184px;
            border-right: 1px dashed #eee;
            border-bottom: 1px dashed #eee;
            overflow: hidden;
        }
    }
}
.pinpai-middle{
    margin: 0 14px;
}
.pinpai-right{
    float: left;
    width:390px;
    
}
.pinpai-right-p{
    font-size: 20px;
    color: #fff;
    width: 382px;
    padding-left: 10px;
    height: 38px;
    line-height:38px;
    background: #d917a2;
    margin-bottom: 1px;
}
.pinpai-right1{
   border: 1px solid #CECECE; 
}
.pinpai-right-ul{
    width: 393px;
    height: 50px;
    border-bottom: 1px solid #CECECE;
    li{
        position: relative;
        float: left;
//      border: 1px solid red;
        border: none;
        width: 129px;
        margin-right: 1px;
        height: 50px;
        background:#f5f5f5;
        text-align: center;
        cursor: pointer;
        
        p{
            width: 126px;
            height:22px;
            padding-top: 6px;
            font-size: 16px;
            font-weight: 400;
        }
        span{
            em{
                font-style: normal;
            }
            display: block;
            line-height: 14px;
            color: #999;
            font-size: 12px;
        }
    }
}
.pinpai-right-ul li.huaguo{
    background:#ffffff;
    border:1px solid #cecece;
    border-bottom:none;
}
.pinpai-1{
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding-top: 5px;
    height: 20px;
    color: #333;
    text-decoration: none;
    overflow: hidden;
}
.pinpai-right-ul1{
    position: absolute;
    display: block;
    height: 507px;
    width: 390px;
    border: 1px solid #CECECE;
    border-top:none;
}
.pinpai-right-ul1 li{
    float: left;
    border-right: 1px dashed #eee;
    border-bottom: 1px dashed #eee;
    width: 194px;
    height: 186px;
}
.pinpai-right-ul1 li:nth-child(1){
    height: 134px;
    img{
        height: 90px;
    }
}
.pinpai-right-ul1 li:nth-child(2){
    img{
        height: 90px;
    }
    height: 134px;
}
.pinpai-right-ul1 li span{
    display: block;
    margin-left: 10px;
    padding-top: 0;
    line-height: 18px;
    height: auto;
    font-size: 14px;
    font-weight: 400;
    color: #e3101e;
}
.pinpai-2 img{
    display: block;
    margin: 0 auto;
    height: 130px;
}
.pinpai-right-22{
    position: absolute;
    display: none;
}
.pinpai-right-33{
    position: absolute;
    display: none;
}

//////////////////////////////猜你喜欢
#like{
    width: 1200px;
    height: 264px;
    margin: 0 auto 40px;
    
}
.like-top{
    height: 37px;
//  border: 1px solid red;
    line-height: 37px;
    p{
        float: left;
        width: 360px;
        height: 26px;
        font-size:26px;
        color: #333;
    }
    .btn{
        float:right;
    }
}
.list1{
                height:196px;
                float: left;
                padding: 0 20px;
                width: 159px;
                border-right: 1px dashed #eee;
                span{
                    color: red;
                }
}
.list1 a:first-child{
    display: block;
    width: 140px;
    height: 120px;
    margin-top: 15px;
    margin-left: 20px;
    text-align: center;
    
}
.list{
    position: absolute;
    background: #ffffff;
}
.list1 a:nth-child(2){
    font-size: 12px;
    white-space: nowrap;
    margin-top: 10px;
    display: block;
    width: 160px;
    height: 22px;
    overflow: hidden;
}
.like-1{        
                width:1200px;
                height:195px;
                padding-top:15px;
                padding-bottom: 15px;
                position:relative;
                background: #fff;
                border: 1px solid #eee;
                overflow: hidden;
            }
            .content1 li{
                height:195px;
                list-style: none;
                position:absolute;
            }
            .btn1{
                float:right;
                margin-right: 3px;
                width: 24px;
                height: 24px;
                border: 1px solid #CECECE;
                color:black;
                border-radius: 50%;
//              background-color:#ffffff;
                opacity:.5;
                line-height:24px;
                text-align:center;
                font-size:20px;
                top:50%;
                cursor: pointer;
                
            }
.btn1:hover{
    color:red;
}
///////////////////////////////////////////楼层直达
#wrap-3{
    width: 100%;
    background:#d917a2;
    z-index: 2;
}
#floor{
  margin: 0 auto;
  width:1200px;
  height:30px;
  padding: 10px 0;
  background:#d917a2;
  position: relative;
//z-index: 98;
  h2{
    float: left;
    width: 95px;
    background: 0 0;
    font-size: 22px;
    color: #fff;  
  }
  span{
      margin:3px 15px 0 15px;
      color: #fff;  
      float: left;
  }
  ul{
      float: left;
  }
}

.floor-top li{
    height: 30px;
    float: left;
    width: 94px;

}

.floor-top li a{
    font-size: 16px;
    color: #fff;
    display: block;
    padding:0 10px;
    height:30px;
    line-height: 30px;
    width:64px;
    &:hover{
       color: #fff!important; 
    }
}
.floor-top li.hover{
    background: #CECECE;
}
///////////////////////////////////休闲零食
#wrap-4{
    width: 100%;
}
.floor1{
    width: 1200px;
    height: 558px;
    margin:30px auto 0;
    background: #fff;
}
.floor1-top {
    height: 38px;
    border-bottom: 1px solid black;
    h2{
        width: 360px;
        float: left;
        font-size: 22px;
        color: #333;
    }
    ul{
        width: 800px;
        float:right;
        a{
           display: inline-block;
           height:38px;
           line-height: 38px;
           padding-left: 22px;
           float:right;
           font-size: 12px;
        }
    }
}
.floor1-bottom-left{
    float: left;
    width: 210px;
    height:520px;
}
.floor1-bottom-left1{
    height:375px;
    position:relative;
}
.content2 .list2{
    position:absolute;
}
.nums2{
               
                position: absolute;
                left:90px;
                bottom: 13px;
                height: 20px;
                text-align: center;
            }
            .nums2 .num2{
                margin-right: 5px;
                color: #666;
                cursor: pointer;
                float:left;
                width:10px;
                height:10px;
                border-radius: 100%;
                background: #404040;
            }
            
            .nums2 .bg{
                background-color: red;
            }
.floor1-bottom-left2{
    padding-left: 35px;
    padding-top: 20px;
    width: 175px;
    height: 125px;
    background: #ec5401;
}
.floor1-bottom-left2 ul a{
    display: block;
    float: left;
    margin-right: 15px;
    width: 70px;
    height: 26px;
    font-size: 14px;
    color: #fff;
    overflow: hidden;
    &:hover{
        color: #fff!important;
        text-decoration: underline;
    }
}
.floor1-bottom-middle{
    float: left;
//  position: relative;
    width: 819px;
    height: 520px;
    overflow: hidden;
//  border: 1px solid red;
    li{
        position: relative;
//      z-index: 1;
        float: left;
        width:168px;
        height:231px;
        border-bottom: 1px solid #f3f3f3;
        border-right: 1px solid #f3f3f3;
        padding: 20px 15px 8px 20px;
        a{
           width:160px;
           height:160px; 
           display: block;
        }
        p{
            white-space: nowrap;
            font-size: 12px;
            margin-top: 15px;
            width: 170px;
            height: 21px;
            overflow: hidden;            
        }
        span{
            padding-top: 5px;
            height:20px;
            width: 170px;
            line-height: 20px;
            font-size: 16px;
            color: red;
        }
    }
}
.floor1-bottom-middle li:nth-child(4),li:nth-child(8){
    border-right: none;
}
.yincang{
    display: none;
    background: #fff;
    position: absolute;
    padding-left: none;
    bottom:0;
    left: 0;
    width: 203px;
    height: 63px;
//  border: 1px solid green;
}
.yincang span:nth-child(1){
    text-align: center;
    display: block;
    height:20px;
    line-height: 20px;
}
.yincang span:nth-child(2){
    height:30px;
    text-align: center;
    line-height: 30px;
    width: 203px;
    display: block;
    background: #d917a2;
}
//////////////////////////////////酒水
#jiushui{
    width: 1200px;
    height: 99px;
    margin:40px auto 0;;
    background: #d917a2;
    padding: 15px 0;
}
.jiushui1{
    float: left;
    padding-left: 46px;
    width: 253px;
    height: 99px;
    border-right: 1px dashed #f09463;
    p{
        width: 253px;
        height: 22px;
        margin-bottom: 5px;
        font-size: 16px;
        color: #fff;
    }
    a{
        float: left;
        display: block;
        margin-right: 20px;
        width: 60px;
        height: 24px;
        line-height: 24px;
        font-size: 14px;
        color: #fff;
        overflow: hidden;
        &:hover{
            color: #fff!important;
//          text-decoration:none;
            text-decoration: underline;
        }
    }
}
.jiushui2{
    border-right:none;
}
/////////////////////////////////品质
#wrap-4{
    width: 100%;
}
#pinzhi{
    width: 1200px;
    height: 224.5px;
    width: 1200px;
    margin: 15px auto 0;
    overflow: hidden;
    border:1px solid red;
}
.pinzhi-top{
    height: 42px;
    padding: 15px 0;
    background: #f0f0f0;
    li{
        padding-left:56px;
        float: left;
        height:42px;
        line-height: 42px;
        float: left;
        width:340px;
        text-align: center;
//      border: 1px solid green;
    }
}
.pinzhi-top li a:nth-child(1){
    margin-right:30px;
    float: left;
}
.pinzhi-top li a:nth-child(2){
    float: left;
    font-size:18px;
    font-weight: 700;
}
.pinzhi-bottom{
    width: 1200px;
    li{
        float: left;
//      border: 1px solid green;
        width: 20%;
        height: 154px;
        text-align: center;
        p{margin-top: 10px;
            height:25px;
            font-size:16px;
            text-align: center;
            line-height: 25px;
        }
        a{
            font-size:14px;
            display: block;
            height: 22.5px;
            color: #c2bcbc;
        }
    }
}
